/* line 5, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/* line 9, ../sass/bootstrap/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 19, ../sass/bootstrap/_normalize.scss */
body {
  margin: 0;
}

/* line 33, ../sass/bootstrap/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 54, ../sass/bootstrap/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 67, ../sass/bootstrap/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 77, ../sass/bootstrap/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 89, ../sass/bootstrap/_normalize.scss */
a {
  background-color: transparent;
}

/* line 98, ../sass/bootstrap/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 110, ../sass/bootstrap/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 118, ../sass/bootstrap/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 127, ../sass/bootstrap/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 136, ../sass/bootstrap/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 145, ../sass/bootstrap/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 154, ../sass/bootstrap/_normalize.scss */
small {
  font-size: 80%;
}

/* line 162, ../sass/bootstrap/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, ../sass/bootstrap/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 174, ../sass/bootstrap/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 185, ../sass/bootstrap/_normalize.scss */
img {
  border: 0;
}

/* line 193, ../sass/bootstrap/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 204, ../sass/bootstrap/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 212, ../sass/bootstrap/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 221, ../sass/bootstrap/_normalize.scss */
pre {
  overflow: auto;
}

/* line 229, ../sass/bootstrap/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 252, ../sass/bootstrap/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 266, ../sass/bootstrap/_normalize.scss */
button {
  overflow: visible;
}

/* line 277, ../sass/bootstrap/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 290, ../sass/bootstrap/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 302, ../sass/bootstrap/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 311, ../sass/bootstrap/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 322, ../sass/bootstrap/_normalize.scss */
input {
  line-height: normal;
}

/* line 334, ../sass/bootstrap/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 346, ../sass/bootstrap/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 356, ../sass/bootstrap/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 367, ../sass/bootstrap/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 376, ../sass/bootstrap/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 387, ../sass/bootstrap/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 396, ../sass/bootstrap/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 405, ../sass/bootstrap/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 416, ../sass/bootstrap/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 421, ../sass/bootstrap/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 11, ../sass/bootstrap/_scaffolding.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/bootstrap/_scaffolding.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/bootstrap/_scaffolding.scss */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

/* line 27, ../sass/bootstrap/_scaffolding.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
}

/* line 36, ../sass/bootstrap/_scaffolding.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 48, ../sass/bootstrap/_scaffolding.scss */
a {
  text-decoration: none;
}

/* line 58, ../sass/bootstrap/_scaffolding.scss */
figure {
  margin: 0;
}

/* line 65, ../sass/bootstrap/_scaffolding.scss */
img {
  vertical-align: middle;
}

/* line 70, ../sass/bootstrap/_scaffolding.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 75, ../sass/bootstrap/_scaffolding.scss */
.img-rounded {
  border-radius: 6px;
}

/* line 82, ../sass/bootstrap/_scaffolding.scss */
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* line 95, ../sass/bootstrap/_scaffolding.scss */
.img-circle {
  border-radius: 50%;
}

/* line 102, ../sass/bootstrap/_scaffolding.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* line 114, ../sass/bootstrap/_scaffolding.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 130, ../sass/bootstrap/_scaffolding.scss */
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* line 148, ../sass/bootstrap/_scaffolding.scss */
[role="button"] {
  cursor: pointer;
}

/* line 10, ../sass/bootstrap/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 1170px;
  }
}

/* line 30, ../sass/bootstrap/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.container-fluid:after {
  clear: both;
}

/* line 39, ../sass/bootstrap/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 14, ../sass/bootstrap/mixins/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.row:after {
  clear: both;
}

.row.row-gallery:before, .row.row-gallery:after {
  display: none;
}

/* line 11, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1 {
  width: 8.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-2 {
  width: 16.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-3 {
  width: 25%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-4 {
  width: 33.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-5 {
  width: 41.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-6 {
  width: 50%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-7 {
  width: 58.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-8 {
  width: 66.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-9 {
  width: 75%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-10 {
  width: 83.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-11 {
  width: 91.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-12 {
  width: 100%;
}

/* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-1 {
  right: 8.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, ../sass/_base.scss */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 22, ../sass/_base.scss */
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

/* line 29, ../sass/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
/* line 34, ../sass/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
/* line 47, ../sass/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
/* line 53, ../sass/_base.scss */
.hamburger-inner::before {
  top: -10px;
}
/* line 57, ../sass/_base.scss */
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Spin
 */
/* line 6, ../sass/types/_spin.scss */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 10, ../sass/types/_spin.scss */
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
/* line 15, ../sass/types/_spin.scss */
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 21, ../sass/types/_spin.scss */
.hamburger--spin.is-active {
  z-index: 40;
}
/* line 23, ../sass/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 28, ../sass/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
/* line 35, ../sass/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*VARIABLES*/
/*RESET*/
/* line 12, ../sass/screen.scss */
a:hover {
  cursor: pointer;
}

/* line 18, ../sass/screen.scss */
nav ul:hover {
  cursor: default;
}

/* line 24, ../sass/screen.scss */
img {
  width: 100%;
}

/* line 28, ../sass/screen.scss */
section {
  padding: 60px 0;
}
@media (max-width: 767px) {
  /* line 28, ../sass/screen.scss */
  section {
    padding: 20px 0;
  }
}

/* line 35, ../sass/screen.scss */
body {
  overflow-x: hidden;
  font-family: 'Open Sans';
  background-color: #ece6dd;
}
/* line 39, ../sass/screen.scss */
body.loading {
  overflow-y: hidden;
}

/* line 45, ../sass/screen.scss */
button:focus {
  outline: 0;
}

/* line 50, ../sass/screen.scss */
body, html {
  height: 100%;
}

@-moz-keyframes breath {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes breath {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes breath {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes sticky-header {
  0% {
    -moz-transform: translate(0, -56px);
    transform: translate(0, -56px);
  }
  100% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes sticky-header {
  0% {
    -webkit-transform: translate(0, -56px);
    transform: translate(0, -56px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes sticky-header {
  0% {
    -moz-transform: translate(0, -56px);
    -ms-transform: translate(0, -56px);
    -webkit-transform: translate(0, -56px);
    transform: translate(0, -56px);
  }
  100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/* line 81, ../sass/screen.scss */
.loading-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #111;
  z-index: 9999;
  -webkit-transition: visibility 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: visibility 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: visibility 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 91, ../sass/screen.scss */
.loading-screen .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -88px;
  -webkit-animation: breath 2s ease-out infinite normal;
  -o-animation: breath 2s ease-out infinite normal;
  animation: breath 2s ease-out infinite normal;
}
/* line 98, ../sass/screen.scss */
.loading-screen.off {
  visibility: hidden;
  opacity: 0;
}

/* line 104, ../sass/screen.scss */
.sub-header {
  position: relative;
  height: 30px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 109, ../sass/screen.scss */
.sub-header ul {
  float: right;
}
/* line 111, ../sass/screen.scss */
.sub-header ul li {
  display: inline;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}
/* line 117, ../sass/screen.scss */
.sub-header ul li span {
  margin-right: 5px;
  font-size: 14px;
}
/* line 121, ../sass/screen.scss */
.sub-header ul li:first-child {
  margin-left: 0;
}
/* line 126, ../sass/screen.scss */
.sub-header.sticky {
  margin-bottom: 56px;
}
@media (max-width: 767px) {
  /* line 104, ../sass/screen.scss */
  .sub-header {
    display: none;
  }
}

/* line 134, ../sass/screen.scss */
.logo {
  display: inline-block;
  width: 176px;
  height: 32px;
  background-image: url(../images/layout/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 141, ../sass/screen.scss */
.logo.playa {
  width: 196px;
  background-image: url(../images/layout/logo-playa.png);
}
/* line 145, ../sass/screen.scss */
.logo.medano {
  width: 235px;
  background-image: url(../images/layout/logo-medano.png);
}
/* line 149, ../sass/screen.scss */
.logo.bosque {
  width: 229px;
  background-image: url(../images/layout/logo-bosque.png);
}

/* line 155, ../sass/screen.scss */
.intro {
  padding: 0;
  position: relative;
}
/* line 158, ../sass/screen.scss */
.intro .container {
  position: relative;
}
/* line 161, ../sass/screen.scss */
.intro .slider, .intro .slider-int {
  position: absolute;
  overflow-y: hidden;
  height: 750px;
  width: 100%;
}
/* line 166, ../sass/screen.scss */
.intro .slider img {
  position: absolute;
  left: 0;
  top: 0;
}
.intro.int, .intro.int .slider-int {height: auto!important;}
@media (min-width: 768px) {
  .intro.int, .intro.int .slider-int {height: 300px!important;}
}
@media (max-width: 767px) {
  /* line 161, ../sass/screen.scss */
  .intro .slider {
    display: none;
  }
}
/* line 175, ../sass/screen.scss */
.intro header {
  position: relative;
  height: 56px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-transition: background-color 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 181, ../sass/screen.scss */
.intro header .container {
  height: 56px;
}
/* line 183, ../sass/screen.scss */
.intro header .container .hamburger {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -28px;
}
@media (max-width: 991px) {
  /* line 183, ../sass/screen.scss */
  .intro header .container .hamburger {
    visibility: visible;
    opacity: 1;
    z-index: 120;
  }
}
/* line 197, ../sass/screen.scss */
.intro header .container .logo {
  position: absolute;
  top: 12px;
}
/* line 201, ../sass/screen.scss */
.intro header .container nav {
  position: absolute;
  top: 20px;
  right: 15px;
  display: inline-block;
}
/* line 207, ../sass/screen.scss */
.intro header .container nav ul li {
  display: inline;
  margin-left: 20px;
}
/* line 210, ../sass/screen.scss */
.intro header .container nav ul li a {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
/* line 215, ../sass/screen.scss */
.intro header .container nav ul li a:before {
  content: '';
  position: absolute;
  visibility: hidden;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -2px;
  background-color: #fff;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), visibility 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), visibility 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), visibility 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 229, ../sass/screen.scss */
.intro header .container nav ul li a:hover:before {
  visibility: visible;
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* line 235, ../sass/screen.scss */
.intro header .container nav ul li.common {
  margin-left: 100px;
}
/* line 239, ../sass/screen.scss */
.intro header .container nav ul li.active a {
  color: #cc6600;
}
/* line 241, ../sass/screen.scss */
.intro header .container nav ul li.active a:before {
  visibility: visible;
  background-color: #cc6600;
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* line 248, ../sass/screen.scss */
.intro header .container nav ul li:first-child {
  margin-left: 0;
}
@media (max-width: 991px) {
  /* line 201, ../sass/screen.scss */
  .intro header .container nav {
    display: table;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000;
  }
  /* line 266, ../sass/screen.scss */
  .intro header .container nav ul {
    display: table-cell;
    vertical-align: middle;
  }
  /* line 269, ../sass/screen.scss */
  .intro header .container nav ul li {
    display: block;
    margin-left: 0;
  }
  /* line 272, ../sass/screen.scss */
  .intro header .container nav ul li a {
    font-size: 35px;
  }
  /* line 275, ../sass/screen.scss */
  .intro header .container nav ul li.common {
    margin-top: 20px;
    margin-left: 0;
  }
  /* line 281, ../sass/screen.scss */
  .intro header .container nav.active {
    visibility: visible;
    opacity: 1;
    z-index: 110;
  }
}
/* line 289, ../sass/screen.scss */
.intro header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1400;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-animation: sticky-header 1s cubic-bezier(0.25, 0.8, 0.25, 1) normal;
  -o-animation: sticky-header 1s cubic-bezier(0.25, 0.8, 0.25, 1) normal;
  animation: sticky-header 1s cubic-bezier(0.25, 0.8, 0.25, 1) normal;
}
@media (max-width: 767px) {
  /* line 175, ../sass/screen.scss */
  .intro header {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
/* line 303, ../sass/screen.scss */
.intro .intro-links {
  position: absolute;
  top: 100px;
}
/* line 306, ../sass/screen.scss */
.intro .intro-links span {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}
/* line 315, ../sass/screen.scss */
.intro .intro-links ul li {
  display: inline-block;
  margin-left: 20px;
}
/* line 318, ../sass/screen.scss */
.intro .intro-links ul li a {
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 326, ../sass/screen.scss */
.intro .intro-links ul li a:hover {
  color: #000;
  background-color: rgba(204, 102, 0, 0.8);
}
/* line 331, ../sass/screen.scss */
.intro .intro-links ul li:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  /* line 303, ../sass/screen.scss */
  .intro .intro-links {
    display: none;
  }
}

/* line 343, ../sass/screen.scss */
.banners h2 {
  margin-bottom: 10px;
  font-size: 24px;
  text-transform: uppercase;
  color: #cc6600;
}
/* line 349, ../sass/screen.scss */
.banners p {
  margin-top: 20px;
  font-size: 16px;
  color: #666666;
}
@media (max-width: 767px) {
  /* line 342, ../sass/screen.scss */
  .banners {
    margin-top: 30px;
    text-align: center;
  }
  /* line 357, ../sass/screen.scss */
  .banners .item {
    margin-top: 40px;
  }
}

/* line 363, ../sass/screen.scss */
.welcome {
  background-image: url(../images/layout/welcomeBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 367, ../sass/screen.scss */
.welcome h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #cc6600;
}
/* line 372, ../sass/screen.scss */
.welcome p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
}

/* line 381, ../sass/screen.scss */
.services {
  text-align: center;
  background-color: #f1f1f1;
}
/* line 384, ../sass/screen.scss */
.services h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #cc6600;
  text-transform: uppercase;
}
/* line 390, ../sass/screen.scss */
.services .item {
  padding: 40px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 394, ../sass/screen.scss */
.services .item span {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 50px;
  color: #cc6600;
}
/* line 400, ../sass/screen.scss */
.services .item p {
  font-size: 20px;
  color: #010000;
}
/* line 404, ../sass/screen.scss */
.services .item:hover {
  background-color: #fff;
}

/* line 411, ../sass/screen.scss */
.contact h2 {
  font-size: 30px;
  color: #cc6600;
  text-transform: uppercase;
  text-align: center;
}
/* line 417, ../sass/screen.scss */
.contact form {
  margin-top: 40px;
}
/* line 419, ../sass/screen.scss */
.contact form input, .contact form textarea {
  padding: 15px;
  width: 100%;
  border: 2px solid #cc6600;
  background-color: #f1f1f1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 426, ../sass/screen.scss */
.contact form input:hover, .contact form input:focus, .contact form textarea:hover, .contact form textarea:focus {
  outline: 0;
}
/* line 429, ../sass/screen.scss */
.contact form input:focus, .contact form textarea:focus {
  background-color: #fff;
}
/* line 433, ../sass/screen.scss */
.contact form input {
  margin-top: 20px;
  height: 45px;
}
/* line 436, ../sass/screen.scss */
.contact form input:first-child {
  margin-top: 0;
}
/* line 440, ../sass/screen.scss */
.contact form textarea {
  height: 175px;
}
/* line 443, ../sass/screen.scss */
.contact form .col-sm-12 {
  text-align: center;
}
/* line 445, ../sass/screen.scss */
.contact form .col-sm-12 .send {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 455, ../sass/screen.scss */
.contact form .col-sm-12 .send:hover {
  color: #000;
  background-color: #cc6600;
}
@media (max-width: 767px) {
  /* line 464, ../sass/screen.scss */
  .contact form textarea {
    margin-top: 20px;
  }
}

/* line 472, ../sass/screen.scss */
.map h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #cc6600;
  text-transform: uppercase;
  text-align: center;
}
/* line 479, ../sass/screen.scss */
.map #map {
  width: 100%;
  height: 600px;
}

/* line 485, ../sass/screen.scss */
footer {
  padding: 40px 0;
  background-color: #000;
}
/* line 488, ../sass/screen.scss */
footer p {
  margin-top: 20px;
}
/* line 492, ../sass/screen.scss */
footer ul li {
  display: inline-block;
  margin-left: 10px;
  
}
/* line 495, ../sass/screen.scss */
footer ul li a {
  text-transform: uppercase;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 498, ../sass/screen.scss */
footer ul li a:hover {
  color: #cc6600;
}
/* line 502, ../sass/screen.scss */
footer ul li:first-child {
  margin-left: 0;
}
/* line 507, ../sass/screen.scss */
footer p, footer ul li a {
  color: #fff;
}
@media (max-width: 1024px) {
  /* line 512, ../sass/screen.scss */
  footer ul li {
    margin-left: 10px;
  }
  /* line 514, ../sass/screen.scss */
  footer ul li a {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  /* line 521, ../sass/screen.scss */
  footer ul {
    float: right;
    text-align: right;
  }
  /* line 524, ../sass/screen.scss */
  footer ul li {
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
  /* line 528, ../sass/screen.scss */
  footer ul li:first-child {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  /* line 485, ../sass/screen.scss */
  footer {
    text-align: center;
  }
  /* line 536, ../sass/screen.scss */
  footer ul {
    margin-top: 40px;
    float: none;
    text-align: center;
  }
}

/* line 545, ../sass/screen.scss */
.info h2 {
  font-size: 30px;
  color: #cc6600;
  text-transform: uppercase;
  text-align: center;
}
/* line 550, ../sass/screen.scss */
.info h2.sub {
  margin-top: 40px;
}
/* line 554, ../sass/screen.scss */
.info h3 {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
/* line 560, ../sass/screen.scss */
.info p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 767px) {
  /* line 544, ../sass/screen.scss */
  .info {
    margin-top: 0;
  }
}

/* line 571, ../sass/screen.scss */
.gallery h2 {
  font-size: 30px;
  color: #cc6600;
  text-transform: uppercase;
  text-align: center;
}
.owl-content {
  padding: 40px 0;
}

.owl-content .owl-subtitle:first-child {
  margin-top: 0;
}
/* line 577, ../sass/screen.scss */
ul.int-med {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
}

ul.int-med.three {
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  ul.int-med {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
  }
  
  ul.int-med.three {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* line 580, ../sass/screen.scss */
ul.int-med li {
  position: relative;
  display: block;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
ul.int-med li a {
  display: block;
  padding: 20px;
  color: white;
  transition: color .25s ease;
}
ul.int-med li:hover a {
  color: #cc6600;
}
/* line 592, ../sass/screen.scss */
ul.int-med li:before {
  content: '';
  position: absolute;
  visibility: hidden;
  display: block;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: #cc6600;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), visibility 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), visibility 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), visibility 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 605, ../sass/screen.scss */
ul.int-med li:hover {
  cursor: pointer;
  color: #cc6600;
}
/* line 610, ../sass/screen.scss */
ul.int-med li.active a {
  color: #cc6600;
}
ul.int-med li.active:before {
  visibility: visible;
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
@media (max-width: 767px) {
  /* line 619, ../sass/screen.scss */
  ul.int-med li {
    float: none;
    width: 100%!important;
    padding: 5px;
  }
.gallery .my-gallery {overflow-x: hidden;}
  /* line 626, ../sass/screen.scss */
  .gallery .my-gallery figure {
    display: none;
    padding: 0;
  }
  /* line 629, ../sass/screen.scss */
  .gallery .my-gallery figure.mobile-thumb {
    display: block;
    width: 100%;
  }
  /* line 632, ../sass/screen.scss */
  .gallery .my-gallery figure.mobile-thumb .mobile-label {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -20px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #cc6600;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* line 646, ../sass/screen.scss */
  .gallery .my-gallery figure.mobile-thumb .mobile-label:hover {
    cursor: pointer;
  }
}

/* line 660, ../sass/screen.scss */
.my-gallery .mobile-label {
  display: none;
}


.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  margin: 0 0 0 -25px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  -webkit-transition: visibility 200ms ease-in, opacity 200ms ease-in;
  -o-transition: visibility 200ms ease-in, opacity 200ms ease-in;
  transition: visibility 200ms ease-in, opacity 200ms ease-in;
}
.spinner.on {
  visibility: visible;
  opacity: 1;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}


@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.error {
  border: 2px solid #ff3333 !important;
}

.contact .send.off {
  visibility: hidden;
  opacity: 0;
}

.owl-title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.owl-subtitle {
  margin: 60px 0 20px 0;
  font-size: 20px;
  color: #cc6600;
}

.owl-text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}

section.gallery {
  padding-top: 0;
}

section.info {
  padding-bottom: 0;
}

.my-gallery .row {
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  margin: 0;
}

@media (min-width: 768px) {
  .my-gallery .row {
    grid-template-columns: repeat(4, 1fr);
  }
}