<h2>Apart y Cabañas</h2>
<p>Todas las unidades están ubicadas a 10m. de la playa, al pie del médano costero, con vista al bosque y salida directa al mar.</p>
<p><b>Espacio de estacionamiento (dentro del complejo pero NO TECHADO)</b></p>