<h2>Las Cabañas</h2>
<p>Todas las unidades tienen vista a la piscina, y están ubicadas a tan solo 50 metros de la playa</p>
<h3>Cabaña para 3 a 5 personas, 3 ambientes en 2 plantas</h3>
<p><b>PB:</b> living con TV por cable, comedor,  cocina completa,  baño con ducha, jardín con parrilla individual.</p>
<p><b>PA:</b> 2 dormitorios, uno matrimonial con TV por cable, y otro con cucheta y cama simple.</p>
<h3>Cabañas para 4 a 6 personas, 3 ambientes en 2 plantas con 2 baños</h3>
<p><b>PB:</b> living con diván cama y TV por cable , comedor, cocina completa, toilette, jardín con parrilla individual.</p>
<p><b>PA:</b> 2 dormitorios, uno matrimonial con TV por cable, y otro con cucheta y cama simple, baño completo.</p>
<h3>Sector de uso común</h3>
<p>En este sector del complejo se encuentran el quincho de uso común, los juegos para niños, la piscina con deck y un amplio solárium con reposeras, tumbonas y sombrillas. También el salón desayunador, un espacio de usos multiples con amplia terraza hacia el bosque y la piscina.</p>
<p><b>Estacionamientos individuales semicubiertos con media sombra.</b></p>