<h2>Apartamentos de 3 ambientes</h2>
<p>Capacidad para 2 a 4 pasajeros.</p>
<p>Ubicados sobre la playa , con excelente vista al mar.</p>
<p>Apartamentos en planta baja ( 3 ambientes con doble altura , medios niveles y dormitorio matrimonial independiente).</p>
<p>Cada uno consta de living comedor, cocina completa, baño.</p>
<p>En el nivel superior balconeando está el dormitorio con 2 camas simples más la habitación matrimonial y un toillette.</p>
<h2 class="sub">Apartamento en planta alta</h2>
<p> 3 ambientes desarrollado en una sola planta.</p>
<p>Consta de living , comedor, cocina integrada, habitación matrimonial , dormitorio con 2 camas individuales , antebaño y baño con ducha.</p>
<p>Balcón privado con parrilla y la mejor vista al mar.</p>
<p>En el exterior están las parrillas individuales de la planta baja y en la parte posterior las cocheras cubiertas desde las cuales se accede por una escalera.</p>